@import url('https://fonts.googleapis.com/css2?family=Dawning of a New Day:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum:ital,wght@0,400..900;1,400..900&family=Dawning of a New Day:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media(max-width: 1000px) {  /* smol */  
	.tablinks i { font-size: 130% } .tablinks { padding: .5rem }  
  .horseshoe { width: 2rem; padding: .5rem }
  a.lightswitch { justify-content: center; }
  sidebar a { background: transparent; padding: .5rem; justify-content: center; }
  sidebar a i { display: block!important } 
  sidebar a span { display: none }
  nav {
    display: block; text-align: left;
  }
  nav a {
    display: block;
    padding: .4rem;
  }
  h1, h2 { margin: 0; background: none; text-align: center;}
  h1 { font-size: 2.6rem; height: auto!important; display: block; margin-top: 1rem }
  h2 { margin-bottom: 1rem }
}

img {
   padding:5px;
   border:1px solid #86615C;
}

sidebar {  box-sizing: border-box;
  color: #fff;
  background-image: linear-gradient(225deg, #4C5B5C 20%,#0000), url('https://i.ibb.co/RHjS1Qc/annie-spratt-o-ARGxmy-SHhg-unsplash.jpg');
  flex: 1;
  background-size: cover; background-position: 46.7% 50% }

sidebar a:hover { color: inherit; background-color: transparent; }

sidebar i {
   color: #fff;
}

i {color: #86615C; }

.tablinks i { color: #86615C; }

.tabwrap { margin: 1.5rem 0; }

.tabcontent {
  font-size: 13px;
  
}

.ribbons b {
  font-size: 1.3rem;
  display: block;
  line-height: 1;
  margin: 0;
  color: #86615C;
}


background-image: linear-gradient(225deg, var(--primary) 20%,#0000), var(--image);

div.flex.fill.ribbons.centered {   font-size: 13px;   font-family: Forum; }

.writeup {
  font-size: 13px;
  font-family: Forum;
  text-align: justify;
  letter-spacing: 1px;
}

a { transition: .3s; text-decoration: none; color: #86615C; }
a:hover { color: #4C5B5C; }

button.daisytab1links { color: #fff; }
button.daisytab1links:hover { color: #e7e7e7; }
button.daisytab1links.active { color: #e7e7e7!important; }

body { font-family: 'Forum'; }

legend { font-family: 'Dawning of a New Day'; }

h1 { font-family: 'Dawning of a New Day'; color:#86615C; letter-spacing: 1px; background: linear-gradient(90deg, #86615C 0%, transparent 33%, transparent 66%, #86615C 100%); }

.progress { background: #86615C; }

h2 { font-family: 'Dawning of a New Day'; font-size: 16px; letter-spacing: 2px; }  
h3 { font-family: 'Dawning of a New Day SC' ;
font-size: 14px; letter-spacing: 2px; }  
h4{ font-family: 'Dawning of a New Day SC';
font-size: 14px; letter-spacing: 2px; }  
th { background-color:#4C5B5C;
color:#fff }
.purple-edge {border-left:2px solid #4C5B5C; padding-left: 15px; margin-left: 15px;}

/* Style the tab */
.daisytab1 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #4C5B5C;
display: flex;
  justify-content: center;
border-radius: 0.5rem;
}

/* Style the buttons that are used to open the tab content */
.daisytab1 button {
  background-color: inherit;
    float: inherit
text-align: center;
margin: 0 auto;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
color: #f1f1f1;
}

/* Change background color of buttons on hover */
.daisytab1 button:hover {
  background-color: #4C5B5C;
display: block;
    position: relative;
    float: left;
color: #f1f1f1;
}

/* Create an active/current tablink class */
.daisytab1 button.active {
  background-color: #4C5B5C;
display: block;
    position: relative;
    float: inherit
text-align: center;
color: #f1f1f1;
}

/* Style the tab content */
.daisycontent1 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
