@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
 
@media(max-width: 1000px) {  /* smol */  
	.tablinks i { font-size: 130% } .tablinks { padding: .5rem }  
  .horseshoe { width: 2rem; padding: .5rem }
  a.lightswitch { justify-content: center; }
  sidebar a { background: transparent; padding: .5rem; justify-content: center; }
  sidebar a i { display: block!important } 
  sidebar a span { display: none }
  nav {
    display: block; text-align: left;
  }
  nav a {
    display: block;
    padding: .4rem;
  }
  h1, h2 { margin: 0; background: none; text-align: center;}
  h1 { font-size: 2.6rem; height: auto!important; display: block; margin-top: 1rem }
  h2 { margin-bottom: 1rem }
}

.tablinks i { color: #59727d; }

.tabwrap { margin: 1.5rem 0; }

.tabcontent {
  font-size: 13px;
  
}

.ribbons b {
  font-size: 1.3rem;
  display: block;
  line-height: 1;
  margin: 0;
  color: #59727d;
}


button.daisytab1links { color: #fff; }
button.daisytab1links:hover { color: #e7e7e7; }
button.daisytab1links.active { color: #e7e7e7!important; }

h1 { font-family: 'Tagesschrift'; } 
h2 { font-family: 'Rye'; }  
h3 { font-family: 'Rye' ;
font-size: 14px; letter-spacing: 2px; }  
h4{ font-family: 'Rye';
font-size: 14px; letter-spacing: 2px; }  
th { background-color: #d48a83;
color:#fff }
.pink-edge {border-left:2px solid #D34B72; padding-left: 15px; margin-left: 15px;}

/* Style the tab */
.daisytab1 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #d48a83;
display: flex;
  justify-content: center;
border-radius: 0.5rem;
}

/* Style the buttons that are used to open the tab content */
.daisytab1 button {
  background-color: inherit;
    float: inherit
text-align: center;
margin: 0 auto;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
color: #f1f1f1;
}

/* Change background color of buttons on hover */
.daisytab1 button:hover {
  background-color: #d48a83;
display: block;
    position: relative;
    float: left;
color: #f1f1f1;
}

/* Create an active/current tablink class */
.daisytab1 button.active {
  background-color: #97798b;
display: block;
    position: relative;
    float: inherit
text-align: center;
color: #f1f1f1;
}

/* Style the tab content */
.daisycontent1 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
